<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
  
  <test name="TestSiteColombia">
  	<parameter name="departure-city" value="Bogota" />
  	<parameter name="arrival-hotel" value="Miss Mary" />
  	<parameter name="arrival-date" value="05/06/2017" />
  	<parameter name="departure-date" value="09/06/2017" />
  	<parameter name="adults-number" value="5" />
  	    
    <classes>
      <class name="com.decameron.BookSiteHotel"/>
    </classes>
    
  </test>
     
</suite>